<?xml version="1.0" encoding="UTF-8"?>
<settings version="1">
    <section id="mattflix.helper">
        <category id="mdblist" label="32000">
            <group id="1">
                <setting id="mdblist_api_key" type="string" label="32011" help="32012">
                    <level>0</level>
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>32011</heading>
                        <hidden>true</hidden>
                    </control>
                </setting>
                <setting id="cache_hours" type="integer" label="32013" help="32014">
                    <level>0</level>
                    <default>12</default>
                    <constraints>
                        <minimum>1</minimum>
                        <step>1</step>
                        <maximum>72</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <popup>true</popup>
                    </control>
                </setting>
            </group>
        </category>
        <category id="builtin_lists" label="32029">
            <group id="1">
                <setting id="list_want_to_watch_movies" type="boolean" label="32032" help="32028">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="list_want_to_watch_shows" type="boolean" label="32033" help="32028">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="list_trending_movies" type="boolean" label="32034" help="32028">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="list_star_wars_chronological_order" type="boolean" label="32035" help="32028">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="list_marvel_cinematic_universe_the_sacred_timeline" type="boolean" label="32036" help="32028">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="list_best_picture_winners" type="boolean" label="32037" help="32028">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="list_trending_shows" type="boolean" label="32038" help="32028">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
            </group>
        </category>
        <category id="library" label="32031">
            <group id="1">
                <setting id="library_all_movies" type="boolean" label="32046" help="32028">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="library_all_shows" type="boolean" label="32047" help="32028">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="library_new_movies" type="boolean" label="32050" help="32028">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="library_new_shows" type="boolean" label="32051" help="32028">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="library_random_movies" type="boolean" label="32052" help="32028">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="library_random_shows" type="boolean" label="32053" help="32028">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="library_top_rated_movies" type="boolean" label="32054" help="32028">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="library_top_rated_shows" type="boolean" label="32055" help="32028">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
            </group>
        </category>
        <category id="seasonals" label="32030">
            <group id="1">
                <setting id="seasonal_christmas" type="boolean" label="32039" help="32056">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="seasonal_valentines_day" type="boolean" label="32040" help="32057">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="seasonal_may_the_4th" type="boolean" label="32041" help="32058">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="seasonal_star_trek_day" type="boolean" label="32042" help="32059">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="seasonal_halloween" type="boolean" label="32043" help="32060">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="seasonal_nick_november" type="boolean" label="32044" help="32061">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="seasonal_friday_the_13th" type="boolean" label="32045" help="32062">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
            </group>
        </category>
        <category id="lists" label="32001">
            <group id="1" label="32002">
                <setting id="local_list_item_limit" type="integer" label="32015" help="32016">
                    <level>0</level>
                    <default>10</default>
                    <constraints>
                        <minimum>1</minimum>
                        <step>1</step>
                        <maximum>50</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <popup>true</popup>
                    </control>
                </setting>
            </group>

            <group id="2" label="32003">
                <setting id="custom_list_1_label" type="string" label="32017" help="32018">
                    <level>0</level>
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>32017</heading>
                    </control>
                </setting>
                <setting id="custom_list_1_type" type="string" label="32019" help="32020">
                    <level>0</level>
                    <default>movies</default>
                    <constraints>
                        <options>
                            <option label="32023">movies</option>
                            <option label="32024">shows</option>
                        </options>
                    </constraints>
                    <control type="list" format="string">
                        <heading>32019</heading>
                    </control>
                </setting>
                <setting id="custom_list_1_url" type="string" label="32021" help="32022">
                    <level>0</level>
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>32021</heading>
                    </control>
                </setting>
            </group>

            <group id="3" label="32004">
                <setting id="custom_list_2_label" type="string" label="32017" help="32018">
                    <level>0</level>
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>32017</heading>
                    </control>
                </setting>
                <setting id="custom_list_2_type" type="string" label="32019" help="32020">
                    <level>0</level>
                    <default>movies</default>
                    <constraints>
                        <options>
                            <option label="32023">movies</option>
                            <option label="32024">shows</option>
                        </options>
                    </constraints>
                    <control type="list" format="string">
                        <heading>32019</heading>
                    </control>
                </setting>
                <setting id="custom_list_2_url" type="string" label="32021" help="32022">
                    <level>0</level>
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>32021</heading>
                    </control>
                </setting>
            </group>

            <group id="4" label="32005">
                <setting id="custom_list_3_label" type="string" label="32017" help="32018">
                    <level>0</level>
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>32017</heading>
                    </control>
                </setting>
                <setting id="custom_list_3_type" type="string" label="32019" help="32020">
                    <level>0</level>
                    <default>movies</default>
                    <constraints>
                        <options>
                            <option label="32023">movies</option>
                            <option label="32024">shows</option>
                        </options>
                    </constraints>
                    <control type="list" format="string">
                        <heading>32019</heading>
                    </control>
                </setting>
                <setting id="custom_list_3_url" type="string" label="32021" help="32022">
                    <level>0</level>
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>32021</heading>
                    </control>
                </setting>
            </group>

            <group id="5" label="32006">
                <setting id="custom_list_4_label" type="string" label="32017" help="32018">
                    <level>0</level>
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>32017</heading>
                    </control>
                </setting>
                <setting id="custom_list_4_type" type="string" label="32019" help="32020">
                    <level>0</level>
                    <default>movies</default>
                    <constraints>
                        <options>
                            <option label="32023">movies</option>
                            <option label="32024">shows</option>
                        </options>
                    </constraints>
                    <control type="list" format="string">
                        <heading>32019</heading>
                    </control>
                </setting>
                <setting id="custom_list_4_url" type="string" label="32021" help="32022">
                    <level>0</level>
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>32021</heading>
                    </control>
                </setting>
            </group>

            <group id="6" label="32007">
                <setting id="custom_list_5_label" type="string" label="32017" help="32018">
                    <level>0</level>
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>32017</heading>
                    </control>
                </setting>
                <setting id="custom_list_5_type" type="string" label="32019" help="32020">
                    <level>0</level>
                    <default>movies</default>
                    <constraints>
                        <options>
                            <option label="32023">movies</option>
                            <option label="32024">shows</option>
                        </options>
                    </constraints>
                    <control type="list" format="string">
                        <heading>32019</heading>
                    </control>
                </setting>
                <setting id="custom_list_5_url" type="string" label="32021" help="32022">
                    <level>0</level>
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>32021</heading>
                    </control>
                </setting>
            </group>

            <group id="7" label="32008">
                <setting id="custom_list_6_label" type="string" label="32017" help="32018">
                    <level>0</level>
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>32017</heading>
                    </control>
                </setting>
                <setting id="custom_list_6_type" type="string" label="32019" help="32020">
                    <level>0</level>
                    <default>movies</default>
                    <constraints>
                        <options>
                            <option label="32023">movies</option>
                            <option label="32024">shows</option>
                        </options>
                    </constraints>
                    <control type="list" format="string">
                        <heading>32019</heading>
                    </control>
                </setting>
                <setting id="custom_list_6_url" type="string" label="32021" help="32022">
                    <level>0</level>
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>32021</heading>
                    </control>
                </setting>
            </group>

            <group id="8" label="32009">
                <setting id="custom_list_7_label" type="string" label="32017" help="32018">
                    <level>0</level>
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>32017</heading>
                    </control>
                </setting>
                <setting id="custom_list_7_type" type="string" label="32019" help="32020">
                    <level>0</level>
                    <default>movies</default>
                    <constraints>
                        <options>
                            <option label="32023">movies</option>
                            <option label="32024">shows</option>
                        </options>
                    </constraints>
                    <control type="list" format="string">
                        <heading>32019</heading>
                    </control>
                </setting>
                <setting id="custom_list_7_url" type="string" label="32021" help="32022">
                    <level>0</level>
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>32021</heading>
                    </control>
                </setting>
            </group>

            <group id="9" label="32010">
                <setting id="custom_list_8_label" type="string" label="32017" help="32018">
                    <level>0</level>
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>32017</heading>
                    </control>
                </setting>
                <setting id="custom_list_8_type" type="string" label="32019" help="32020">
                    <level>0</level>
                    <default>movies</default>
                    <constraints>
                        <options>
                            <option label="32023">movies</option>
                            <option label="32024">shows</option>
                        </options>
                    </constraints>
                    <control type="list" format="string">
                        <heading>32019</heading>
                    </control>
                </setting>
                <setting id="custom_list_8_url" type="string" label="32021" help="32022">
                    <level>0</level>
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>32021</heading>
                    </control>
                </setting>
            </group>
        </category>
        <category id="advanced" label="32025">
            <group id="1">
                <setting id="debug_logging" type="boolean" label="32026" help="32027">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
            </group>
        </category>
    </section>
</settings>
